{% extends 'ew/base.html' %}

{% block title %}Blog{% endblock %}


{% block content %}
<div class="pt-[2.5rem] ">
    <div class="flex flex-col justify-center items-center my-10  sm:mx-[15rem]">
        <h2 class="sm:text-5xl text-4xl font-bold z-[2]">Blog</h2>
        <p class=" sm:text-[5rem]  text-[3rem] text-[#343a40]  z-[1] font-extrabold sm:-mt-[4rem]  -mt-[2.5rem]">Blog</p>
    </div>
    <div>
        <form action="{% url 'blog:index' %}"  class="flex justify-center space-x-2">

            <input name="query" class="bg-black w-2/3 py-4 px-6 border border-white rounded-xl" type="text" value="{{ query }}" placeholder="Search for a blog post by title or content">
            <button class="block text-mustard text-3xl py-2 inline">
                <span>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </span>
            </button>


        </form>
    </div>
    <div class="lg:flex lg:justify-center lg:items-center ">
        <div class="xl:grid-cols-3 lg:mx-auto lg:my-[2rem] lg:grid-cols-2 lg:grid  flex flex-col justify-center items-center  lg:gap-1">
            {% for blog in page_obj %}
                <!--Blog item-->
                <div class="w-[20rem] sm:w-[20rem] md:w-[25rem] lg:w-[25rem] m-10 rounded-sm ">
                    <a href="{% url 'blog:detail' blog.id %}" class="h-auto flex flex-col space-y-2 justify-content items-start">
                        <img src="{{ blog.image.url }}" class="w-full h-auto">
                        <p class="text-mustard uppercase flex flex-row justify-center items-center space-x-10 text-sm ">
                            <span>
                                {{ blog.created_at }}
                            </span>
                            <a href="{% url 'accounts:detail' blog.author.id %}">
                                <span>
                                {{ blog.author }}
                                </span>
                            </a>
                            <span>
                                <i class="fa-solid  fa-message"></i>
                                {{ blog.author.blogs.count }}

                            </span>
                        </p>
                        <h3 class="text-white lg:text-2xl text-xl w-full">{{ blog.title }}</h3>
                        <p class="text-white text-[1rem]"  >{{ blog.content }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination flex flex-row justify-center space-x-[8rem] text-lg">
        <span class="step-links flex flex-row justify-center items-center space-x-[1rem]">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="px-6 py-3 text-black bg-mustard rounded-full hover:-translate-y-1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="px-6 py-3 text-white border border-white bg-black rounded-full hover:-translate-y-1">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="px-6 py-3 text-white bg-black border border-white rounded-full hover:-translate-y-1">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="px-6 py-3 text-black bg-mustard rounded-full hover:-translate-y-1">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}