{% extends 'ew/base.html' %}

{% block title %}Blog post{% endblock %}

{% block content %}
<div class="pt-[2rem] flex w-full justify-center flex-col items-center"> <!--Main div not the contents-->
    <!--Blog item-->
    <div class="w-4/5 my-10 mx-auto rounded-sm ">
        <a href="#" class="h-auto flex flex-col space-y-2 justify-content items-start">
            <img src="{{ blog.image.url }}" class="w-full h-[20rem]">

            <h3 class="text-white lg:text-[2rem] text-xl font-bold w-full mb-2">{{ blog.title }}</h3>
            <p class="text-mustard uppercase flex flex-row justify-start items-center space-x-10 text-sm ">
                <span>
                    {{ blog.created_at }}
                </span>
                <a href="{% url 'accounts:detail' blog.author.id %}">
                    <span>
                    {{ blog.author }}
                    </span>
                </a>
                <span>
                    <i class="fa-solid  fa-message"></i>
                    {{ blog.author.blogs.count }}

                </span>
            </p>
            <p class="text-white text-[1rem] text-lg"  >{{ blog.content }}</p>
        </a>
    </div>

     <!-- Blog First landing  -->
     <div class="flex flex-col justify-center items-center my-10 w-full mx-auto">
        <h2 class="sm:text-5xl text-4xl font-bold z-[2]">More Blogs</h2>
        <p class=" sm:text-9xl  text-7xl text-[#343a40]  font-extrabold sm:-mt-[4rem] z-[1]  -mt-[3rem]">Blogs</p>
    </div>

    <!-- Blog second landing  -->
    <div class="lg:flex lg:justify-center lg:items-center ">
        <div class="xl:grid-cols-3 lg:mx-auto lg:my-[2rem] lg:grid-cols-2 lg:grid  flex flex-col justify-center items-center  lg:gap-1">
            {% for blog in more_blogs %}
            <!--Blog item-->
            <div class="w-[20rem] sm:w-[20rem] md:w-[25rem] lg:w-[25rem] m-10 rounded-sm ">
                <a href="{% url 'blog:detail' blog.id %}" class="h-auto flex flex-col space-y-2 justify-content items-start">
                    <img src="{{ blog.image.url }}" class="w-full h-auto">
                    <p class="text-mustard uppercase flex flex-row justify-center items-center space-x-10 text-sm ">
                        <span>
                            {{ blog.created_at }}
                        </span>
                        <a href="{% url 'accounts:detail' blog.author.id %}">
                            <span>
                            {{ blog.author }}
                            </span>
                        </a>
                        <span>
                            <i class="fa-solid  fa-message"></i>
                            {{ blog.author.blogs.count }}

                        </span>
                    </p>
                    <h3 class="text-white lg:text-2xl text-xl w-full">{{ blog.title }}</h3>
                    <p class="text-white text-[1rem]"  >{{ blog.content }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
